@import "tailwindcss";

*{
    font-family: 'Exo', sans-serif;
}

.no-scrollbar::-webkit-scrollbar{
  display:none;
}

.no-scrollbar{
  scrollbar-width:none;
  -ms-overflow-style:none;
}

.recent-carousel{
  scroll-behavior:smooth;
}